<div class="row">
  {{#each samples}}
  <div class="col-md-3 my-2">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center" style="font-weight: bold">
          {{mid}}
        </h4>
        <h4 class="card-title d-flex justify-content-between align-items-center">
          Editar <a href="/samples/edit/{{_id}}"><i class="fas fa-edit"></i></a>
        </h4>
        <h4 class="card-title d-flex justify-content-between align-items-center">Etiquetas
        {{#if labels}}
        <a class="fas fa-check" style="color: green;"></a>
        {{else}}
        <a class="fas fa-times" style="color: red;"></a>
        {{/if}}
        </h4>
        <h4 class="card-title d-flex justify-content-between align-items-center">Estimacion
        {{#if prediction}}
        <a class="fa fa-check" style="color: green;"></a>
        {{else}}
        <a class="fa fa-times" style="color: red;"></a>
        {{/if}}
        </h4>
        <a  style="margin-bottom: 20px;" href="/samples/view/{{_id}}" class="btn btn-success btn-block">Ver muestra</a>
        <!-- DELETE REQUEST -->
        <form action="/samples/delete/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger btn-block btn-sm">Eliminar</button>
        </form>       
      </div>
    </div>
  </div>
  {{else}}
  <div class="card mx-auto">
    <div class="card-body">
      <h1>Hola {{user.name}}</h1>
      <p clsss="lead">Aún no hay muestras.</p>
      <a href="/samples/add" class="btn btn-primary btn-block">Crear muestra</a>
      <a href="/samples/add-frfile" class="btn btn-primary btn-block">Crear muestra desde archivo</a>
    </div>
  </div>
  {{/each}}
</div>
