<div class="row">
  {{#each models}}
  <div class="col-md-3 my-2">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center" style="font-weight: bold">
          {{nombre}}
        </h4>
        <a  style="margin-bottom: 20px;" href="/samples/view/{{_id}}" class="btn btn-success btn-block">Detalles</a>
        <!-- DELETE REQUEST -->
        <form action="/samples/delete/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger btn-block btn-sm">Eliminar</button>
        </form>       
      </div>
    </div>
  </div>
  {{else}}
  <div class="card mx-auto">
    <div class="card-body">
      <h1>Hola {{user.name}}</h1>
      <p clsss="lead">Aún no hay modelos.</p>
      <a href="/models/train" class="btn btn-primary btn-block">Crear modelo</a>
    </div>
  </div>
  {{/each}}
</div>
