 <div style="color: white">
 <h1>R²:</h1>
 <div class="row">
    <div class="col-md-4">
        <h3>MO.x:</h3>
        <h3>CO.x:</h3>
        <h3>Arena:</h3>
        <h3>Arcilla:</h3>
        <h3>Limo:</h3>
        <h3>CLASE_TEXTURAL:</h3>
        <h3>HUMEDAD_GRAVIMETRICA:</h3>
        <h3>Dr:</h3>
        <h3>pH:</h3>
        <h3>Ca:</h3>
        <h3>Mg:</h3>
        <h3>K:</h3>
        <h3>Na:</h3>
    </div>
    <div class="col-md-2">
        <h3>{{model.rr.[0]}}</h3>
        <h3>{{model.rr.[1]}}</h3>
        <h3>{{model.rr.[2]}}</h3>
        <h3>{{model.rr.[3]}}</h3>
        <h3>{{model.rr.[4]}}</h3>
        <h3>{{model.rr.[5]}}</h3>
        <h3>{{model.rr.[6]}}</h3>
        <h3>{{model.rr.[7]}}</h3>
        <h3>{{model.rr.[8]}}</h3>
        <h3>{{model.rr.[9]}}</h3>
        <h3>{{model.rr.[10]}}</h3>
        <h3>{{model.rr.[11]}}</h3>
        <h3>{{model.rr.[12]}}</h3>
    </div>
    
  </div>
  </br>
  <h1>mse:</h1>
 <div class="row">
    <div class="col-md-4">
        <h3>MO.x:</h3>
        <h3>CO.x:</h3>
        <h3>Arena:</h3>
        <h3>Arcilla:</h3>
        <h3>Limo:</h3>
        <h3>CLASE_TEXTURAL:</h3>
        <h3>HUMEDAD_GRAVIMETRICA:</h3>
        <h3>Dr:</h3>
        <h3>pH:</h3>
        <h3>Ca:</h3>
        <h3>Mg:</h3>
        <h3>K:</h3>
        <h3>Na:</h3>
    </div>
    <div class="col-md-2">
        <h3>{{model.mse.[0]}}</h3>
        <h3>{{model.mse.[1]}}</h3>
        <h3>{{model.mse.[2]}}</h3>
        <h3>{{model.mse.[3]}}</h3>
        <h3>{{model.mse.[4]}}</h3>
        <h3>{{model.mse.[5]}}</h3>
        <h3>{{model.mse.[6]}}</h3>
        <h3>{{model.mse.[7]}}</h3>
        <h3>{{model.mse.[8]}}</h3>
        <h3>{{model.mse.[9]}}</h3>
        <h3>{{model.mse.[10]}}</h3>
        <h3>{{model.mse.[11]}}</h3>
        <h3>{{model.mse.[12]}}</h3>
    </div>
    
  </div>
  </div>